@model AssignmentOfEnlightSolutions_Models.Models.Customer

<div>
    <h1 class="bg-secondary text-white text-center">Sales List</h1>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
                <tr>
                    <th style="text-align:center">
                        SL
                    </th>
                    <th style="text-align:center">
                        Customer
                    </th>
                    <th style="text-align:center">
                        Phone
                    </th>
                    <th style="text-align:center">
                        Address
                    </th>
                    <th style="text-align:center">
                        Total
                    </th>
                    <th style="text-align:center">
                        Paid
                    </th>
                    <th style="text-align:center">
                        Due
                    </th>
                    <th style="text-align:center">
                        Actions
                    </th>
                </tr>
            </thead>
    </table>
</div>

